.App {
  text-align: center;
}

.App-logo {
  margin-top: 75px;
  margin-bottom: 30px;
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

a {
  color: blue;
}

a:visited {
  color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 9px 16px;
  max-height: 40px;
  color: #fff;
  background-color: black;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#voting {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  background: white;
  color: black;
}

#header {
  top: 0;
  left: 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  min-height: calc(100vh - 100px);
  font-size: calc(10px + 2vmin);
  color: white;
}